*{
  margin: 0;
  padding: 0;
}

p, a {
  font-family: Arial;
  font-size: 14px;
  text-decoration: none;
}

a:visited {
  color: #0094d4;
}


.form-container {
  width: 250px;
  height: auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 2px 0 #000;
  margin: auto;
}

.p-center-text {
  text-align: center;
  position: relative;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.inline-link {
  padding: 5px;
}

.inline-link p {
  display: inline-block;
  text-align: left;
}
.inline-link a {
  text-align: right;
  float: right;
  display: inline-block;
  color: #0094d4;
}

.logo {
  position: relative;
  top: 25px;
  right: -20px;
}

.banner-header {
  padding-top: 30px;
  padding-bottom: 30px;
}

.user-input {
  width: inherit;
  border-radius: 3px;
  height: 2em;
  margin-bottom: 20px;
}

.button {
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  margin: 4px 2px;
  border-radius: 5px;
}

#submit-button {
  display: block;
  background-color: #0094d4;
  font-size: 16px;
  padding: 10px 30px;
  width: inherit;
  margin-bottom: 10px;
}

#facebook {
  display: inline-block;
  font-size: 12px;
  background-color: #315285;
  padding: 5px 20px;
  width: 120px;

}

#google {
  display: inline-block;
  float: right;
  font-size: 12px;
  background-color: #2e7dd5;
  padding: 5px 20px;
  width: 120px
}

#login-options {
  text-align: center;
  margin-bottom: 10px;
}

hr {
  margin-bottom: 10px;
}

.signup-footer {
  position:relative;
  top: 30px;
}

.banner {
  width: 85%;
  height: 5em;
  background-color: #0094d4;
  display: block;
  margin: 0 auto;
  padding-right: 30px;
}
